.card {
    background-color: var(--dark-blue);
    padding: 1rem 3rem;
    width: max-content;
    align-self: center;
    border-radius: 25px;
}

.options {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    margin: 28px 0px;
}

.question-nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.correct {
    background-color: var(--light-green);
}

.incorrect {
    background-color: var(--red)
}