.selected {
    background-color: var(--green);
    color: white;
    border: 1px solid var(--white)
}

.home {
    font-size: 32px;
    position: absolute;
    top: 16px;
    left: 16px;
    color: white;
}

.button-div {
    height: 40px;
}

.return-btn {
    margin: 1rem 0;
}

.score {
    font-size: 24px;
}

.question-results {
    display: flex;
    gap: 30px; 
}

.question-results-green {
    background-color: var(--light-green);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: black;
}

.question-results-red {
    background-color: var(--red);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: black;
}

.circle {
    font-size: 28px;
    align-self: center;
}

.question-result {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}