:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --dark-blue: #003d5b;
  --blue: #30638e;
  --white: #ffffff;
  --green: #00798c;
  --red: #d1495b;
  --yellow: #edae49;
  --black: #000000;
  --white-green: #b8d1d7; 

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
dark blue & white / yellow & black have WCAG compliance for small text, large text, and UI components
green & white / blue & white / red & black have WCAG compliance for large text and UI components
 */

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--white-green);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #ffffff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
